[submodule "src/neverball"]
	path = neverball
	url = https://github.com/Ryzee119/neverball.git
[submodule "libdragon"]
	path = libdragon
	url = https://github.com/DragonMinded/libdragon
	branch = trunk
